* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-padding: 4px;
  --bg-color: #ffffff;
  --black: #000000;
  --grey: #808080;
  --dp-blck: #000;
  --btn-radius: 4px;
  --orange: #ff7b54;
  --orange-2: #e14d2a;
  --blue: #3b49df;
}
body {
  background-color: var(--bg-color);
  height: 100vh;
  font-family: "Clash Display", sans-serif;
}
/* NavBar Component */
nav {
  border-bottom: 1px solid black;
  background-color: var(--orange-2);
  height: 6vh;
}
footer{
  border-top: 1px solid var(--dp-blck);
  height: 5vh;
  margin-top: 10px;
}
.nav-img{
  width: 40px;
  height: 40px;
  padding: 4px;
}

/* Goal section */
.goal-buttons{
  display: flex;
  flex-direction: column;
}
.goal-btn:hover{
  font-size: 12px;
  font-weight: 200;
  cursor: pointer;
  color: var(--dp-blck);
  background-color: var(--bg-color);
  border:1px solid var(--dp-blck);
  width: 100%;
}

.goal-btn{
  background-color: var(--dp-blck);
  border: 1px solid var(--dp-blck);
  border-radius: var(--btn-radius);
  box-shadow: #fff 4px 4px 0 0, var(--dp-blck) 4px 4px 0 1px;
  color: var(--bg-color);
  cursor: pointer;
  font-size: 10px;
  font-weight: 400;
  padding: var(--button-padding);
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.calories-form{
  border-top: 1px solid var(--dp-blck);
  margin-bottom: 20px;
  margin-top: 30px;
}


.data-wrap{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.calorie-data{
  margin-top: 10px;
  width: 50%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid var(--blue);
  background: rgb(249, 250, 250);
  color: var(--black);
  font-size: 12px;
  font-weight: 100;
}
.calorie-data:focus{
  background-color: #fff;
  outline: none;
  border-color: var(--blue);
  box-shadow: 1px 1px 0 var(--blue);
}
.data {
  margin-top: 10px;
  padding: var(--button-padding);
  width: 50%;
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: none;
  border: 1px solid var(--blue);
  font-size: 12px;
  height: 20px;
  font-weight: 100;
  color: var(--black);
}
.data:focus {
  background-color: #fff;
  outline: none;
  border-color: var(--blue);
  box-shadow: 1px 1px 0 var(--blue);
}
.options{
  display: flex;
  margin-top: 30px;
}
.food-img{
  height: 20px;
  width: 20px;
}
.entry{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dp-blck);
  border-radius: 12px;
  padding: 12px;
}
.label{
  margin-right: 80px;
  display: flex;
  align-items: center;
  border: 1px solid var(--dp-blck);
  width: 100px;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 12px;
}
.entry-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  gap: 8px;
}
.category{
  display: flex;
  justify-content: space-between;
}
.entry-data{
  margin-top: 2px;
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid var(--blue);
  background: rgb(249, 250, 250);
  color: var(--black);
  font-size: 12px;
  font-weight: 100;
}
.icons {
  background-color: transparent;
  height: 20px;
}
.icon-btns {
  background-color: transparent;
  border: none;
}
.intro-text {
  margin: 20px;
  padding: 10px;
}
.goal {
  border-radius: 8px;
  border: 1px solid var(--black);
  padding: 16px;
}
.goal-span {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.set-goal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
 
}
.goal-number{
  display: flex;
  flex-direction: column;
}
.space {
  margin-left: 8px;
}
.set-value {
  margin: 20px;
}
.set-value input {
  margin-left: 10px;
}

.action-btn {
  background-color: var(--orange);
  border: 1px solid var(--dp-blck);
  border-radius: var(--btn-radius);
  box-shadow: #fff 4px 4px 0 0, var(--dp-blck) 4px 4px 0 1px;
  color: var(--black);
  cursor: pointer;
  font-size: 10px;
  font-weight: 400;
  padding: var(--button-padding);
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.action-btn:hover {
  background-color: var(--orange-2);
  transform: translate(2px, 2px);
  box-shadow: #fff 4px 4px 0 0, var(--dp-blck) 4px 4px 0 1px;
}
.stats{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    border-bottom: 1px solid  var(--dp-blck);
    margin-bottom: 20px;
}

/* time at the top */
.time{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
}
.time p{
  color: var(--grey);
  font-size: 12px;
}


  .error-container{
    background-color: var(--bg-color);
    height: 100vh;
  }
  .error-page{
    justify-content: center;
    margin: 0 auto;
    max-width: 700px;
    max-height: 50%;
    border-radius:20px;
    padding: 50px;
    text-align: center;
  }

  .link{
    text-decoration: underline;
    width: 100px;
    margin-top: 20px;
    color: var(--dp-blck);
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  .txt{
    margin: 10px;
  }
  .error-page h2{
    font-size: 50px;
    margin: 20px;
  }
  .image{
    width: 20%;
  }

  .error-btn:hover{
    background-color: var(--home-card);
    border: 1px solid var(--home-bg-color);
  }

  .main{
    padding: 8px;
    height: 90vh;
  }